/*.project
/.settings

/dborm/.settings
/dborm/target
/dborm/bin
/dborm/*.classpath
/dborm/*.project
/dborm/.gitignore

/groupcenter/.settings
/groupcenter/target
/groupcenter/bin
/groupcenter/*.classpath
/groupcenter/*.project
/groupcenter/.gitignore


/membercenter/.settings
/membercenter/bin
/membercenter/target
/membercenter/*.classpath
/membercenter/*.project
/membercenter/.gitignore

/newscenter/.settings
/newscenter/target
/newscenter/bin
/newscenter/*.classpath
/newscenter/*.project
/newscenter/.gitignore

/productcenter/.settings
/productcenter/target
/productcenter/bin
/productcenter/*.classpath
/productcenter/*.project
/productcenter/.gitignore

/ordercenter/.settings
/ordercenter/target
/ordercenter/bin
/ordercenter/*.classpath
/ordercenter/*.project
/ordercenter/.gitignore

/systemcenter/.settings
/systemcenter/target
/systemcenter/bin
/systemcenter/*.classpath
/systemcenter/*.project
/systemcenter/.gitignore
/systemcenter/junittest/*.*
/systemcenter/junittest/bin
/systemcenter/junittest/src

/usercenter/.settings
/usercenter/target
/usercenter/bin
/usercenter/*.classpath
/usercenter/*.project
/usercenter/.gitignore

/bbcenter/.settings
/bbcenter/target
/bbcenter/bin
/bbcenter/*.classpath
/bbcenter/*.project
/bbcenter/.gitignore

